.slider {
  &__item {
    &_1 {
      background-image: url(../img/slider__item_main.jpg);
      background-position-x: -370px;
    }
  }
}

.slide {
  &__title {
    @media (max-width: 576px) {
      font-size: 48px;
      line-height: 1.1;
    }
  }
  &__button {
    @media (max-width: 576px) {
      margin-top: 30px;
    }
  }
}