.slider {
  &__item {
    background-position-x: center;
    &_1 {
      @media (max-width: 576px) {
        background-image: url(../img/slider_content/main-page_mobile.png);
        
      }
    }
    &_3 {
      @media (min-width: 577px) {
      background-image: url(../img/slider_content/Mexico.png);
    }
      @media (max-width: 576px) {
        background-image: url(../img/slider_content/Mexico_mobile.png);
      }
    }
    &_4 {
      @media (min-width: 577px) {
      background-image: url(../img/slider_content/VisaService.png);
    }
      @media (max-width: 576px) {
        font-size: 14px;
        background-image: url(../img/slider_content/VisaService_mobile.png);
      }
    }
  }
}

.slide {
  &__title {
    @media (max-width: 576px) {
      font-size: 3em;
      line-height: 1.1;
    }
  }
  &__button {
    @media (max-width: 576px) {
      margin-top: 30px;
    }
  }
}