.images {
  min-height: 540px;
  height: 1px;
  margin-top: 30px;
  background-image: url(../img/slider__item_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -570px;
}
.images__wrapper {
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding-left: 15px;
  padding-bottom: 125px;
}
.images__site-path {
  position: static;
}
.information {
  background-color: #ffffff;
}
.information__wrapper {
  width: auto;
  margin: 0 5%;
  padding-bottom: 14%;
}
.information__title {
  padding-top: 16%;
  font-family: Bebas Neue;
  font-size: 48px;
  color: #DF5E16;
}
.information__text {
  margin-top: 10%;
  padding-bottom: 3%;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
