.h2-title {
  padding-top: 16%;
  font-family: Bebas Neue;
  font-size: 48px;
  color: #DF5E16;
  text-transform: uppercase;
  @media (min-width: 577px) {
    padding-top: 40px;
    padding-bottom: 36px;
    font-size: 36px;
  }
}

.images {
  position: relative;
  min-height: 540px;
  height: 1px;
  margin-top: 30px;
  background-image: url(../img/slider__item_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -570px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 67, 145, 0.4);
  }
  @media (min-width: 577px) {
    margin-top: 0px;
    background-position-x: 0;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding-left: 15px;
    padding-bottom: 125px;
    @media (min-width: 577px) {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30px;
      padding-top: 32px;
    }
  }
  &__site-path {
    position: static;
  }
  &__title {
    @media (min-width: 577px) {
      margin-top: 162px;
      margin-left: 80px;
      font-size: 72px;
    }
  }
}

.information {
  background-color: #ffffff;
  &__wrapper {
    width: auto;
    margin: 0 5%;
    padding-bottom: 14%;
    @media (min-width: 577px) {
      padding-top: 60px;
      padding-bottom: 0;
      max-width: 1020px;
      margin: 0 auto;
    }
  }
  &__text {
    margin-top: 10%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    @media (min-width: 577px) {
      margin-top: 0;
      margin-bottom: 21px;
      line-height: 20px;
    }
  }
}

.programs {
  margin: 0 5%;
  &__wrapper {
    @media (min-width: 577px) {
      max-width: 1020px;
      margin: 0 auto;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__list-item {
    margin-top: 34px;
    margin-right: 10%;
    font-family: Bebas Neue;
    font-size: 24px;
    color: #004391;
    text-transform: uppercase;
    &:hover {
      @media (min-width: 577px) {
        cursor: pointer;
      }
    }
    &_active {
      text-decoration: underline;
      color: #DF5E16;
    }
  }
  &__info {
    position: relative;
  }
  &__info-item {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    &_active {
      position: static;
      display: block;
    }
  }
  &__text {
    margin-top: 34px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  &__subtitle {
    margin-top: 38px;
    font-size: 18px;
    font-weight: bold;
    color: #004391;
    text-transform: capitalize;
  }
  &__sublist {
    margin-top: 15px;
    list-style-position: inside;
  }
  &__sublist-item {
    font-size: 14px;
    line-height: 2;
    color: #000000;
  }
  &__button {
    margin: 38px auto 45px;
    text-align: center;
    a {
      display: inline-block;
      padding: 13px 51px;
      background: #DF5E16;
      font-family: Bebas Neue;
      font-size: 18px;
      letter-spacing: 4px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}