@import 'css-blocks/popup-city.css';
@import 'css-blocks/popup-favorite.css';
@import 'css-blocks/popup-login.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas/TTF\'s/BebasNeue Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas/TTF\'s/BebasNeue Bold.ttf') format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  animation: fade-in 0.5s ease;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  @media(min-width: 577px) {
    min-width: 1180px;
  }
  @media(max-width: 576px) {
    width: 100%;
    min-width: unset;
    padding: 0;
  }
}

.wrapper {
  @media(min-width: 577px) {
    width: 1180px;
    margin: 0 auto;
    height: 100%;
  }
  @media(max-width: 576px) {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
}

.container {
  background-color: #ffffff;
  @media (max-width: 576px) {
    background-color: #f7f7f7;
  }
  &__mobile {
    max-height: 1100px;
    overflow: hidden;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}