.wrapper
    .content-login
        ul.content-login-items
            li.content-login-items__item
                a(href="index.html").content-login-items__item-link главная
            li.content-login-items__item
                a(href="#").content-login-items__item-link вход/регистрация
        .row.title.mobile
            a(href="#").content-login-mobile__sign Регистрация
            a(href="#").content-login-mobile__login Вход
        .row.social
            a(href="#").content-login-social__vk
            a(href="#").content-login-social__fb
        .row.form-sign
            h2.form-sign__title Регистрация
            .form-sign-social
                a(href="#").form-sign-social__vk
                a(href="#").form-sign-social__fb
            form(action="#", method="get").content-login-form-sign
                label(for="surname").content-login-form-sign__label Фамилия *
                input(type="text", name="surname", required = "required", autocomplete="off", placeholder="Иванов").content-login-form-sign__input
                label(for="name").content-login-form-sign__label Имя *
                input(type="text", name="name", required = "required", autocomplete="off", placeholder="Иван").content-login-form-sign__input
                label(for="phone").content-login-form-sign__label Телефон *
                input(id = "phone",type="tel", name="phone", placeholder="+7 (123) ___-__-__", required = "required", autocomplete="off").content-login-form-sign__input
                label(for="phone").content-login-form-sign__label--error Поле заполнено с ошибкой
                label(for="mail").content-login-form-sign__label Эл. почта *
                input(type="text", name="mail", placeholder="user@example.com", required = "required", autocomplete="off").content-login-form-sign__input
                label(for="mail").content-login-form-sign__label--error Поле заполнено с ошибкой
                label(for="pass").content-login-form-sign__label Пароль *
                input(type="password", name="pass", required = "required", autocomplete="off").content-login-form-sign__input
                label(for="pass").content-login-form-sign__label--error Поле заполнено с ошибкой
                label(for="reqpass").content-login-form-sign__label Подтверждение пароля *
                input(type="password", name="reqpass", required = "required", autocomplete="off").content-login-form-sign__input
                label(for="reqpass").content-login-form-sign__label--error Введенные пароли не совпадают
                .capcha
                    script(src="https://www.google.com/recaptcha/api.js" async defer)
                    .g-recaptcha(data-sitekey="your_site_key")
                input(type="submit", value="Регистрация").content-login-form-sign__button
                .content-login-form-sign-reg
                    label().content-login-form-sign-reg_lable
                        input(type="checkbox", name="checkbox", required = "required").content-login-form-sign-reg__check
                        span.content-login-form-sign-reg__check-cust
                    p.content-login-form-sign-reg__inst
                        | Я подтверждаю, что ознакомлен с  
                        a(href="#") Политикой в области защиты персональных данных ООО  «Экселенте» 
                        |  и даю свое согласие на работу с моими персональными данными.
        .row.form-log
            h2.form-log__title Вход
            .form-log-social
                a(href="#").form-log-social__vk
                a(href="#").form-log-social__fb
            form(action="#", method="get").content-login-form-log
                label(for="mail").content-login-form-log__label Эл. почта *
                input(type="text", name="mail", placeholder="user@example.com", required = "required", autocomplete="off").content-login-form-log__input
                label(for="mail").content-login-form-log__label--error Поле заполнено с ошибкой
                label(for="pass").content-login-form-log__label Пароль *
                input(type="password", name="pass", required = "required", autocomplete="off").content-login-form-log__input
                label(for="pass").content-login-form-log__label--error Поле заполнено с ошибкой
                input(type="submit", value="Вход").content-login-form-log__button
                a(href="password-restore-1-step.html").content-login-form-log__button-link Забыл пароль
script(type='text/javascript', src='js/jquery.mask.min.js')
script(type='text/javascript').
  $(document).ready(function(){
  $('#phone').mask('+7 (000) 000-00-00');
  });








    //- script(src="jquery.js")
    //- script(src='jquery.maskedinput.min.js')
    //- script.
    //-   //Код jQuery, установливающий маску для ввода телефона элементу input
    //-   //1. После загрузки страницы,  когда все элементы будут доступны выполнить...
    //-   $(function(){
    //-   //2. Получить элемент, к которому необходимо добавить маску
    //-   $("#phone").mask("8(999) 999-9999");
    //-   });


