.title
	h2.section-name школы
	form
		select.school-selection 
			option(value='') Показать по 9
			option(value='' autofocus) 9
			option(value='') 18
			option(value='') 36
section.content.content_schools
	aside.sidebar
		section.sidebar__part
			h3|Программа
				.sidebar-arrow.arrow-down
		section.sidebar__part
			h3|Специальности
				.sidebar-arrow.arrow-up
		section.sidebar__part
			h3|Страны
				.sidebar-arrow.arrow-up
			ul.choose-country__checkboxes
				li
					label
						input.country__checkbox(type='checkbox' name='США')
						span.checkbox-custom
						span.label США
				li
					label
						input.country__checkbox(type='checkbox' name='Канада')
						span.checkbox-custom
						span.label Канада
				li
					label
						input.country__checkbox(type='checkbox' name='Австралия')
						span.checkbox-custom
						span.label Австралия
				li
					label
						input.country__checkbox(type='checkbox' name='Новая Зеландия')
						span.checkbox-custom
						span.label Новая Зеландия
				li
					label
						input.country__checkbox(type='checkbox' name='Сингапур')
						span.checkbox-custom
						span.label Сингапур
				li
					label
						input.country__checkbox(type='checkbox' name='Япония')
						span.checkbox-custom
						span.label Япония
				li
					label
						input.country__checkbox(type='checkbox' name='Корея' checked='')
						span.checkbox-custom
						span.label Корея
				li
					label
						input.country__checkbox(type='checkbox' name='Филиппины')
						span.checkbox-custom
						span.label Филиппины
			a.show-all(href="#") показать все
			section.sidebar__part.filters
				button.button__action.apply(type='button' value='') 
					a(href="#") Применить
				a.reset-filter(href='#') Сбросить фильтр
	main.schools-list__wrapper
		article.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
		.school-card
				img.school-card__image(src="img/content-img/St_Johns_St_Augustine_Hall.png", alt="St. John's University")
				h2.school-card__name St. John's University
				span.school-card__country США
				button.button__action.more(type='button' value='')
					a(href='#') подробнее
nav.schools-catalogue__pagination
	.pagi-nav-wrapper
		//- .arrow-back
		//- 	a(href='#')
		a.active(href='#') 1
		a(href='#') 2
		a(href='#') 3
		a(href='#') 4
		a(href='') ...
		a(href='#') 125
		a.pagi-arrow.pagi-arrow-forward(href='#')
			
