.content-login
    .row.title.mobile
        a(href="#").content-login-mobile__sign Регистрация
        a(href="#").content-login-mobile__login Вход
    .row.social
        a(href="#").content-login-social__vk
        a(href="#").content-login-social__fb
    .row.form-sign
        form(action="#").content-login-form-sign
            label(for="surname").content-login-form-sign__label Фамилия*
            input(type="surname").content-login-form-sign__input
            label(for="name").content-login-form-sign__label Имя*
            input(type="name").content-login-form-sign__input
            label(for="name").content-login-form-sign__label Телефон*
            input(type="tel", name="phone").content-login-form-sign__input
            label(for="name").content-login-form-sign__label Эл. почта*
            input(type="email", name="mail").content-login-form-sign__input
            label(for="name").content-login-form-sign__label Пароль*
            input(type="password", name="pass").content-login-form-sign__input
            label(for="name").content-login-form-sign__label Подтверждение пароля*
            input(type="password", name="reqpass").content-login-form-sign__input
            .capcha
            
            input(type="submit", value="Регистрация").content-login-form-sign__button
            .content-login-form-sign-reg
                input(type="checkbox", name="agree").content-login-form-sign-reg__check
                p.content-login-form-sign-reg__inst
                    | Я подтверждаю, что ознакомлен с  
                    a(href="#") Политикой в области защиты персональных данных ООО  «Экселенте» 
                    |  и даю свое согласие на работу с моими персональными данными.
    .row.form-log
        form(action="#").content-login-form-log
            label(for="name").content-login-form-log__label Эл. почта*
            input(type="email", name="mail").content-login-form-log__input
            label(for="name").content-login-form-log__label Пароль*
            input(type="password", name="pass").content-login-form-log__input
            input(type="submit", value="Вход").content-login-form-log__button
            input(type="submit", value="Забыли пароль").content-login-form-log__button


