section.images
  .wrapper.images__wrapper
    .images__site-path.site-path 
      ul.site-path__items
        li.site-path__item
          a(href="#") Главная
        li.site-path__item
          a(href="#") Школы
        li.site-path__item
          a(href="#") St. John's University
    h2.images__title.slide__title St. John's University