section.restore
	.restore__wrapper
		.site-path 
			ul.site-path__items
				li.site-path__item
					a(href="#") Главная
				li.site-path__item
					a(href="#") Восстановление пароля
		.restore-title__wrapper
			h1.restore__title пароль успешно изменен
		.restore-text__wrapper
			p.step-description-3
				| Ваш пароль изменен, теперь вы можете войти в личный кабинет
		.log-in__wrapper
			input.button.button-action__log-in(type='button' value='войти в личный кабинет')