h2.select-programm__title
select.select-country
	option Россия
	option США
	option Германия
	option Япония
select.select-language
	option Русский
	option Английский
	option Немецкий
	option Японский
select.select-programm-type
	option Работа
	option Стажировка
	option Ещё что-то
button.button-select
p.select-programm__text
	|В нашем каталоге  собраны программы, зарекомендовавшие себя исключительно с положительной стороны. Excelente ведет каждого клиента индивидуально, оказывая поддержку круглосуточно семь дней в неделю.
