section.slider.slider__schools

  .slider__site-path.site-path 
    ul.site-path__items
      li.site-path__item
        a(href="#") Главная
      li.site-path__item
        a(href="#") Школы
  .slider__items
    .slider__item.slider__item_1.slide
      .wrapper
        h2.slide__title Fanshawe college
        p.slide__description набор на новый учебный год
        a(href="#").slide__button подробнее
  .slider__navigation
