extends modules/layout-main

block pageTitle
  title Компания «Экселенте»

append pageLinks
  link(rel="stylesheet", href="css/main-page.css")
  link(rel="stylesheet", href="blocks/customer-reviews/customer-reviews.css")
  
block content
  include modules/slider_main
  include blocks/customer-reviews/customer-reviews

append pageScripts
  script(src="js/slider.js")
  script(src="blocks/customer-reviews/customer-reviews.js")