extends modules/layout-main

block pageTitle
  title Компания «Экселенте»

append pageLinks
  link(rel="stylesheet", href="css/main-page.css")
  
block content
  include modules/slider_main

block pageScripts
        script(src="js/slider.js")