extends modules/layout-main

block pageTitle 
		title Детские туры во время каникул

//-append pageLinks
//-link(rel="stylesheet", href="#")

block content
	include modules/slider__schools
	include modules/content
