section.customer-reviews
  .wrapper.customer-reviews__wrapper
    h2.customer-reviews__title отзывы
    .customer-reviews__image
      img(src="blocks/customer-reviews/img/customer-reviews_darya_mobile.png", alt="Customer photo", srcset="blocks/customer-reviews/img/customer-reviews_darya_mobile.png 1x, blocks/customer-reviews/img/customer-reviews_darya_mobile@2x.png 2x")
    .customer-reviews__review
      .customer-reviews__flag.customer-reviews__flag_italy
      .customer-reviews__name Дарья
      .customer-reviews__place Polimoda (Италия)
      .customer-reviews__text Очень понравилось качество и интенсивность программы на бакалавриате (программа «Дизайн одежды») и разнообразие занятий на магистратуре («Создание модной коллекции»). Я пришла сразу на последний год бакалавриата и очень довольна тем, как многому удалось научиться всего лишь за 9 месяцев. На магистратуре было гораздо больше самостоятельности, и это здорово.
      .customer-reviews__navigation.navigation
        .navigation__arrow.navigation__arrow_left 
        .navigation__arrow.navigation__arrow_right