section.blog
  .wrapper.blog__wrapper
    h2.blog__title.h2-title Блог
    ul.blog__list
      li.blog__list-item.blog__list-item_1 Все
      li.blog__list-item.blog__list-item_2.blog__list-item_active Акции
      li.blog__list-item.blog__list-item_3 новости
      li.blog__list-item.blog__list-item_4 Мероприятия
    .blog__info
      ul.blog__info-items.blog__info-items_all.blog__info-items_active
        li.blog__info-item.blog__info-item_active
          .blog__info-picture
          h3.blog__info-title Акция от школы ЕС
          p.blog__text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__info-item.blog__info-item_active
          .blog__info-picture
          h3.blog__info-title Акция от школы ЕС
          p.blog__text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
